@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

$block-class: 'gallery';

// body {
//   overflow-x: hidden;
// }

.#{$block-class}.#{$block-class} {
  width: 80vw;
  min-height: 10vh;
  background-color: $background;
  color: $text-primary;
}

.#{$block-class} .#{$block-class}__container {
  display: flex;
  width: 100%;
  max-width: 1024px;
  min-height: 100%;
  flex-direction: column;
  margin: 0 auto;
}

.#{$block-class} .#{$block-class}__title {
  margin-top: $spacing-10;
}

.#{$block-class} .#{$block-class}__filter {
  width: 50vw;
  margin: 0 auto;
  margin-top: $spacing-07;
}

.#{$block-class} .#{$block-class}__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: $spacing-07;
}

$item-width: 50vw;
$item-height: 50vh;

.#{$block-class} .#{$block-class}__gallery-item {
  width: $item-width;
  height: $item-height;
  margin-bottom: $spacing-06;
}

.#{$block-class} .#{$block-class}__gallery-item--dummy {
  width: $item-width;
  height: 0;
  visibility: hidden;
}